@@import "url(http://fonts.googleapis.com/css?family=Montserrat:400,700)";
.contenedor-contenido:nth-child(even){
  background-color: #f2f2f2;
}
.contenedor {
  max-width: 1000px;
  margin: 0 auto;
}
body {
  color: 555;
  margin: 0;
  font-family:'Montserrat', sans-serif;
  background-color: PapayaWhip;
}
#cabecera {
  height: 150px;
  background-color: lightblue;
  line-height: 150px;

}
#cabecera-titulo {
  display: block;
  float left;

  font-size: 20px;
  font-weight: bold;

}
#bajada {
  display: block;
  float: right;
  margin-top: 0;
}
img {
padding-left: 200px;
width: 500px;
}
#bajada li {
  display: inline;
  float: right;
  padding-left: 20px;
}
#cabecera a {
  color: black;
  text-decoration: none;

  letter-spacing: 0.1em;
  text-transform: uppercase;

}
#cabecera a:hover {
  color: 222;
}
.contenido,.acercaDe {
  max-width: 1000px;
  margin: 0 auto;
  padding: 55px 0;
}
h1, h2, h3, h4 {
  color: 333;
}
p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}
#materiales {
  font-size: 22px;
  text-decoration: none;
}
.pasos {
  font-size: 22px;
  text-decoration: none;

}
.contenedor {
  max-width: 1000px;
  margin: 0 auto;

}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623
}
.acercaDe {
  text-align: center;
}
#final {
  background-color: #2f2f2f;
  padding: 50px 0;
  }

#final h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
 }
 .columna {
   min-width: 300px;
   display: inline-block;
   vertical-align: top;
 }
 #final p {
   color: white;
 }

